<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ROKU - Restaurant Reservation Apps</title>
    <link rel="icon" href="../public/images/icon.png">
</head>
    <body> 
        <nav id="nav-container">
        </nav>
        <section id="hero-section">
            <hero-container 
                title="Ngajak Dinner Gebetan, Eh    Gak Dapet Tempat"
                description = "Coba udah kenal ROKU"
                button-caption = "Download Sekarang">
            </hero-container>
        </section>
    </body>

</html>